// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
    background-color: #2a4159 !important;
}

.fabutton {
    background: none;
    padding: 0px;
    border: none;
}
.iframe-message{
    min-height: 200px!important;
}