// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$green: #38c172;
$grey: #3f4042;

body{
    background-color: #232528 !important;
}

.green-color{
  color:$green;
}

a {
    color: $green;
    
}
a:hover {
    color: #1f7543;
 
}

.card {
    background-color: #232528;
}

.card-header {
    background-color: rgb(63 64 66);
    color:white;
}

.form-control {
   
    color: #ffffff;
    background-color: #232528;
    background-clip: padding-box;
    border: 1px solid #ced4da52;

}

.form-control:focus {
    color: #ffffff;
    background-color: $grey;
    border-color: $green;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(56 193 114);
}

.card-body {
   color:white;
   border: 1px solid #424242a6;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #424242;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
}


.table-dark{
    background: $grey;
}

.list-group-item-action:hover, .list-group-item-action:focus {

    color: #ffffff;
    text-decoration: none;
    background-color: transparentize($green, 0.3)
}

iframe{
    background:rgb(255, 255, 255);
}
.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: $green;
    border-color: $green;
}

.list-group-item {

    background-color: $grey;
    border: 1px solid rgba(0, 0, 0, 0.125);
    color: white;
}

.fabutton {
    background: none;
    padding: 0px;
    border: none;
}
.iframe-message{
    min-height: 200px!important;
}

.mh-100vh{
    min-height:100vh!important;
}
.lds-ellipsis {
    display: inline-block;
    position: absolute;
    width: 80px;
    right: 48%;
    top: 40%;
    height: 80px;
    z-index:99999;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: $green;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  
  $theme-colors: (
  "primary": $green !important,

);

#notification {
  .dropdown-item{
    min-width:300px !important;
    background-color: #3f4042;
    color:white;
  }
  .dropdown-menu {
    background-color: #3f4042;
  }

  .dropdown-item:hover, .dropdown-item:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: transparentize($green, 0.3)
  }
  #counter {
    position: absolute;
    width: 20px;
    padding: 0.1em;
    display: block;
    color: white;
    top: 6px;
    left: -8px;
    font-size: 0.7em;
    background: #bb1414;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
  }
 

}